# note that section headers begin with %, and sections can be:
# 1) SETTINGS (device settings)
# 2) TAGS (tag settings)

%SETTINGS
fs=0
dev='rx8'
interface='usb'
circuit_file='C:/Users/dattalab/Desktop/tdt_lock_in/lock_in_partags_v1.rcx'
save_dir='E:/tdt/lock_in/'
start_gui=true

%TAGS
Invert1=1
Invert2=1
LED1Freq=300
LED2Freq=550
LED1Amp=.25
LED1Offset=.05
LED2Amp=2
LED2Offset=.05
IntegrateFS=10
